.board{
    width: 50vh;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 25vh;
    border: 1px solid black;
}
.board .field{
    border: 1px solid gray;
    text-align: center;

}

.board .field h5{
    font-size: 48px;
    margin:0;
    height: 80%;
    margin-top: 20%;
    
}
#winner{
    color: white;
    background-color: green;
    width: 400px;
    margin: auto;
    text-align: center;
}
#restart{
    display: none;
    border: 1px solid gray;
    margin: 0 auto;
    margin-top: 40px;
    width: 200px;
    height: 36px;
}